body,
html {
    background-color: #eeeeee;
}

.header {
    background-color: #000;
}

.header__item {
    max-width: 1200px;
    margin: 0 auto;
}

.header__ttl {
    display: flex;
    align-items: center;
}

.icon-white {
    color: #00FFFF;
}

.header__title {
    font-size: 25px;
    color: #00FFFF;
    padding: 0 10px;
}

.login {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    background-color: #fff;
    border-radius: 5px;
}

.login__title {
    background-color: #000;
    border-radius: 5px 5px 0 0;
    padding: 10px 0;
}

.login__item {
    font-size: 18px;
    color: #00FFFF;
}

.login__group {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login__group input {
    width: 250px;
}

.button {
    margin-bottom: 40px;
}

.button__ttl {
    padding: 5px 20px;
    background-color: #000;
    border-radius: 3px;
    border: none;
    color: #00FFFF;
}

.link {
    padding-bottom: 20px;
}

.error{
    color: #ff0000;
    margin-bottom: 20px;
}
